.carousel-caption {
    margin-bottom: 38vh !important
}
/* i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: .75em .9em;
    margin: .3rem;
    background-color: white;
  }
  i.fa:hover i.fa{
background-color: blue;
  } */
  .carousel-inner .item{
    height: 100vh;
  }
  .navbar-fixed-top.scrolled {
    background-color: #000 !important;
    transition: background-color 200ms linear;
  }
  /* body {
    background-color: #3498db;
    color: #ecf0f1;
  }
  
  .back-to-top {
      position: fixed;
      bottom: 25px;
      right: 25px;
      display: none;
  } */
  .platform-images{
    width: 75%;
    height: 75%;
  }
 
  .solution-box{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border:none;
  }
 