.carousel-caption {
    margin-bottom: 38vh !important
}
/* i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: .75em .9em;
    margin: .3rem;
    background-color: white;
  }
  i.fa:hover i.fa{
background-color: blue;
  } */
  .carousel-inner .item{
    height: 100vh;
  }
  .navbar-fixed-top.scrolled {
    background-color: #000 !important;
    transition: background-color 200ms linear;
  }