{% extends "base.html" %}
{% block title %}
Digital Lending Solution
{% endblock title %}

{% block content %}
<!-- <div class="container-fluid"> -->


<h1 style="font-weight:bolder;text-align:center;padding:10vh 0">Features</h1>
<div class="justify-content-md-center row mx-auto" style="padding-bottom:5rem;">

    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Adaptable and Flexible.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Adaptable and Flexible</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Modular architecture enables easy customization. Use the back-end APIs only or combine with the Finwins user interface products</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/cloud ready/share.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Cloud Ready Architecture</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Highly performant, secure, and scalable microservices architecture. Ready to operate on-premise, cloud, or hybrid.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/machine-learning.svg" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Machine Learning and AI Technologies</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Machine learning and AI algorithms are used to streamline the lending process</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Integration and APIs.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Integration and APIs</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Integrates seamlessly into your lending institution’s systems as well as the broader fintech ecosystem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Data & Analytics.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Data & Analytics</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Ability to provide data to any business intelligence software for enhanced reporting and analytics.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/gdpr.svg" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Security and Compliance</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Built to meet the compliance and security standards of leading financial institutions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/folder.svg" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Document Storage</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Integrates with SharePoint, Google Drive, or Dropbox for document storage and collaboration.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Robotic Process Automation (RPA).png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Robotic Process Automation (RPA)</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">Ability to integrate with RPA software to automate data entry and processing of paperwork.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 platform-box" style="border:none">
      <div class="row no-gutters">
          <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
              <img src="/static/images/dlsfinswins/auth/authentication.png" class="platform-images" style="width:60%;height:60%" alt="...">
          </div>
          <div class="col-md-8">
              <div class="card-body p-0">
                  <h4 class="card-title my-4" style="color:rgb(51, 51, 51);font-weight:bold">Authentication and Authorization</h4>
                  <p class="card-text" style="color:rgb(105, 105, 105)">Supports standard authentication, authorization & user management based on OAuth 2.0 and LDAP integrations</p>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Benifits of Digital Lending -->

<h1 style="font-weight:bolder;text-align:center;padding:10vh 0;color: rgb(105, 105, 105)">Embrace the benefits of Digital Lending</h1>
<div class="justify-content-md-center row" style="padding-bottom:5rem;">

    <div class="card col-lg-5 col-md-7 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Seamless User Experience.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title" style="color:rgb(51, 51, 51);font-weight:bold">Seamless User Experience</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">
                      <br/>
                        - Removes friction<br/><br/>
                        - Allows for customer self-service
                      </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-5 col-md-7 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Custom Software Solutions.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title" style="color:rgb(51, 51, 51);font-weight:bold">Mitigates Risk</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">
                      <br/>
                      - Audit compliance<br/><br/>
                      - Assured information integrity
                      </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-5 col-md-7 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Reduces Costs.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title" style="color:rgb(51, 51, 51);font-weight:bold">Reduces Costs</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">
                      <br/>
                        - Automates & simplifies operations<br/><br/>
                        - Fewer labor-intensive processes
                      </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-5 col-md-7 platform-box" style="border:none">
        <div class="row no-gutters">
            <div class="col-md-4" style="display:flex;justify-content:center;margin-top:1.5rem;">
                <img src="/static/images/dlsfinswins/Increases Speed to Market.png" class="platform-images" style="width:60%;height:60%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title" style="color:rgb(51, 51, 51);font-weight:bold">Increases Speed to Market</h4>
                    <p class="card-text" style="color:rgb(105, 105, 105)">
                      <br/>
                      - Faster market entry with easily configurable products and processes<br/><br/>
                      - Reach digitally enabled customers
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Contact form -->
<div  style="width:100%;height:100%">
<h1 class="p-5" style="font-weight:bolder;text-align:center;">Request a Demo</h1>
<div class="container">
    <div class="row">
      <div class="col-lg-6">
          <h1  style="font-weight:bolder;">To make requests for<br/>
                further information,<br/>
                <span style="font-weight:bolder;color:blue">contact us</span> 
                via our social<br/> channels.</h1>
                <p style="color: rgb(105, 105, 105);font-size:1.2rem">We just need a couple of hours! No more than 2 working days since receiving your issue ticket</p>
        </div>
        <div class="col-lg-6">
              <form>
              <input class="form-control p-4 my-3" style="background-color:rgb(248, 248, 248);border:none" type="text" placeholder="Name *">
              <input class="form-control p-4 my-3" style="background-color:rgb(248, 248, 248);border:none" type="email" placeholder="Email *">
              <input class="form-control p-4 my-3" style="background-color:rgb(248, 248, 248);border:none" type="tel" placeholder="Contact Number *">
              <textarea class="form-control p-4 my-3" rows="7" style="background-color:rgb(248, 248, 248);border:none" name="message" placeholder="Please describe what you need"></textarea>
              <button type="submit" class="btn btn-primary mb-2 px-5 py-3">Submit</button>
              </form>
        </div>
      </div>
  
    </div>
<!-- </div> -->
{% endblock content %}